/* ========= Intro 화면 ========= */
.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e90ff, #007bff);
    color: white;
    text-align: center;

    opacity: 0;
    animation: fadeInOut 4s ease forwards;
}

.intro img {
    margin-bottom: 20px;
    border-radius: 20px;
}

.intro h2 {
    color: #fff;
    font-size: 2rem;
}

.intro p {
    color: #f1f1f1;
    margin-bottom: 20px;
}

.intro .btn {
    border-radius: 25px;
    font-weight: bold;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}